/* */
body {
  font-size: 14px;
  color: #676767;
  background: #111111; }

/* bootstrap custom */
.panel-default > .panel-heading {
  color: #777777;
  background: #e5e5e5; }

/* custom */
.header .header-inner {
  padding: 15px 10px;
  background: #f6f6f6;
  border-bottom: 2px solid #dddddd; }

.m-brand .brand-logo {
  float: left;
  width: 40px;
  height: 40px;
  background: #888888; }
.m-brand .brand-name {
  margin-left: 10px;
  font-size: 18px;
  font-weight: bold;
  line-height: 40px;
  vertical-align: middle; }

.m-nav {
  font-weight: bold; }
  .m-nav .nav a:hover {
    color: #97947a; }
  .m-nav .nav a {
    color: #7c7548; }

.main {
  overflow: hidden;
  padding: 20px;
  background: #f2f2f2; }

.nav-side {
  position: relative;
  overflow: hidden;
  margin: -20px -15px -10000px -20px;
  padding: 20px 15px 10000px 15px;
  background: #333333; }

.m-card-profile {
  margin-bottom: 40px;
  padding: 20px 10px;
  border: 1px solid #3e3e3e;
  border-radius: 2px;
  color: #dddddd;
  background: #484848; }
  .m-card-profile .img {
    width: 40px;
    height: 40px;
    background: #888888; }
  .m-card-profile .desc {
    color: #bbbbbb; }

.m-menu-statistic .list-group .list-group-item:hover {
  background-color: #555555; }
.m-menu-statistic .list-group .list-group-item {
  margin: 0 -15px -1px;
  padding: 8px 15px;
  border-color: #333333;
  border-radius: 0;
  background-color: inherit;
  color: #eeeeee; }
  .m-menu-statistic .list-group .list-group-item .text {
    margin-left: 8px; }
.m-menu-statistic .list-group .list-group-item.active {
  color: #222222;
  background: #e58d21; }

.m-site-info {
  margin-top: 80px;
  margin-bottom: 20px;
  font-size: 12px;
  color: #888888; }
  .m-site-info .desc {
    margin-bottom: 6px;
    line-height: 16px; }
  .m-site-info .img {
    width: 120px;
    height: 48px;
    background: #666666; }

.m-board-info {
  line-height: 26px; }
  .m-board-info .img {
    width: 15px;
    height: 15px;
    background: #dddddd; }
  .m-board-info .glyphicon {
    font-size: 26px;
    vertical-align: middle; }
  .m-board-info .title {
    margin-left: 10px;
    font-size: 20px;
    vertical-align: middle; }
  .m-board-info .content {
    float: right;
    vertical-align: middle; }
    .m-board-info .content .m-media-block {
      float: right;
      margin-right: 10px; }
      .m-board-info .content .m-media-block .img-wrapper {
        float: left;
        margin-right: 10px; }
        .m-board-info .content .m-media-block .img-wrapper .img {
          display: none;
          width: 15px;
          height: 15px;
          background: #dddddd; }
      .m-board-info .content .m-media-block .content {
        overflow: hidden; }

.m-stat-sm {
  overflow: hidden;
  padding: 0;
  min-height: 80px;
  line-height: 68px; }
  .m-stat-sm .title-wrapper {
    display: inline-block;
    width: 49%;
    vertical-align: middle; }
    .m-stat-sm .title-wrapper .title {
      margin: 10px; }
  .m-stat-sm .content-wrapper {
    display: inline-block;
    width: 49%;
    font-size: 28px;
    font-weight: bold;
    word-wrap: break-word;
    text-align: center;
    vertical-align: middle; }
    .m-stat-sm .content-wrapper .content {
      margin: 10px; }

.m-stat-md {
  overflow: hidden;
  width: 100%;
  padding: 0; }

.m-stat-five {
  padding: 10px; }
  .m-stat-five .item {
    float: left;
    overflow: hidden;
    width: 25%; }
    .m-stat-five .item .img {
      margin: 20px auto;
      width: 50px;
      height: 50px;
      background: #888888; }
    .m-stat-five .item .content .heading {
      padding: 5px;
      font-weight: bold;
      text-align: center; }
    .m-stat-five .item .content .desc {
      padding: 5px; }

.m-stat-six {
  padding: 10px; }
  .m-stat-six .item {
    float: left;
    padding: 5px;
    width: 16.66666%; }
    .m-stat-six .item .img {
      height: 55px;
      border-radius: 2px;
      background: #bbbbbb; }

.m-stat-seven .img-wrapper {
  float: left;
  width: 33%;
  text-align: center; }
  .m-stat-seven .img-wrapper .img {
    display: inline-block;
    margin-top: 48px;
    width: 80px;
    height: 96px;
    background: #f1f1f1; }
.m-stat-seven .content {
  overflow: hidden; }
  .m-stat-seven .content .m-list-date {
    margin: -1px -1px -1px 0; }
    .m-stat-seven .content .m-list-date .list-group-item {
      border-radius: 0; }
      .m-stat-seven .content .m-list-date .list-group-item .title {
        margin-left: 10px;
        font-weight: bold; }
      .m-stat-seven .content .m-list-date .list-group-item .date {
        float: right; }

.m-stat-eight .list-group {
  margin: 0 -1px; }
  .m-stat-eight .list-group .list-group-item {
    border-radius: 0; }
    .m-stat-eight .list-group .list-group-item .title {
      overflow: hidden;
      padding: 0 10px;
      max-width: 100px;
      font-weight: bold; }
    .m-stat-eight .list-group .list-group-item .desc {
      overflow: hidden;
      color: #888888; }

/*  helpers  */
.cf {
  *zoom: 1; }

.cf:after {
  clear: both; }

.cf:before, .cf:after {
  display: table;
  content: "";
  line-height: 0; }

.cl-l {
  clear: left; }

.cl-r {
  clear: right; }

.cl-b {
  clear: both; }

.fl-l {
  float: left; }

.fl-r {
  float: right; }

.pos-r {
  position: relative; }

.pos-a {
  position: absolute; }

.dir-r {
  direction: rtl; }

.text-l {
  text-align: left; }

.text-c {
  text-align: center; }

.text-r {
  text-align: right; }

.mg-h0 {
  margin-left: 0;
  margin-right: 0; }

.mg-v0 {
  margin-top: 0;
  margin-bottom: 0; }

.hide {
  display: none !important; }

.show {
  display: block !important; }
